@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@font-face {
    	font-family: SourceSans;
    	src: url("fonts/SourceSansPro-Light.ttf");
}

body {
	margin: 48px;

	background: #765267 url("images/background_pink.jpg") no-repeat fixed;
	/*background-position: bottom;*/
	/*765267 1b151f*/
	background-size: cover;

	font-family: SourceSans;
	color: #f3f0f0;

	text-align: center;

	animation: fadeIn ease-in-out 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@media (max-width: 500px) {
    body {
    	margin: 10px;
    }
}

h1 {
	font-size: 64px;
	margin: 0px;
	font-weight: normal;
}

h2 {
	font-size: 36px;
	margin: 0px;
	text-align: left;
	font-weight: normal;
}

h3 {
	font-size: 18px;
	margin: 5px;
	margin-bottom:8px;
	font-weight: normal;
}

p {
	text-indent: 50px;
	text-align: justify;
	font-size: 18px;
}

a {
	color: #fff;
}

#photo {
	/*margin-top: 64px;*/
	width: 192px;
	height: 192px;
}

#navbar {
	text-align: right;
	margin-bottom: 24px;
}

.linkbutton {
	text-align: center;

	color:#f3f0f0;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;

	font-size:24px;
	text-decoration: none;

	display:inline-block;
	width: 100px;

	margin: 5px;
	padding: 5px;

	transition: background-color 0.5s;
}

.linkbutton.nav {
	font-size: 16px;
	width: 60px;
}

.linkbutton:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.linkbutton:active {
	transition: background-color ease-out 0.1s;
	background-color: rgba(0, 0, 0, 0.1);
}

.iconlink {
	margin: 8px;
	margin-top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.8;
	transition: opacity 0.2s;
}

.iconlink:hover {
	opacity: 1;
}

.iconlink:active {
	transition: background-color ease-out 0.1s;
	opacity: 0.5;
}

.page {
	background-color: rgba(243, 240, 240, 0.8);

	/*background: url("images/background-dark-frost.jpg") no-repeat fixed;*/
	background-position: bottom;
	background-size: cover;

	color: #000;
	padding: 16px;

	text-align: left;
}

.page a { color: #000; }

#hobbieslist {
	font-size: 18px;
	text-align: left;
}