@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@font-face {
    	font-family: SourceSans;
    	src: url("fonts/SourceSansPro-Light.ttf");
}

body {
	background-color: #000;
	background: url("images/background-dark.jpg") no-repeat fixed;
	background-position: bottom;
	background-size: cover;

	font-family: SourceSans;
	color: #f3f0f0;

	text-align: center;

	animation: fadeIn ease-in-out 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;

	-webkit-animation: fadeIn ease-in-out 1;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: fadeIn ease-in-out 1;
	-moz-animation-duration: 1s;
	-moz-animation-fill-mode: forwards;
}

h1 {
	font-size: 64px;
	margin: 0px;
	font-weight: normal;
}

h2 {
	font-size: 18px;
	margin: 5px;
	margin-bottom:8px;
	font-weight: normal;


}

#photo {
	margin-top: 64px;
	width: 192px;
	height: 192px;
}

.linkbutton {
	color:#f3f0f0;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;

	font-size:24px;
	text-decoration: none;

	display:inline-block;
	width: 100px;

	margin: 5px;
	padding: 5px;

	transition: background-color 0.5s;
}

.linkbutton:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.fadein {

}